<div >
    <h2 style="text-align:center;">{{title}}</h2>
    <table class="table text-center">
        <thead class="thead-light">
          <tr>
            <th scope="col">รหัสสินค้า</th>
            <th scope="col">ชื่อสินค้า</th>
            <th scope="col">ราคาสินค้า</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <th scope="row">{{order.id}}</th>
            <td>{{order.ordername}}</td>
            <td>{{order.orderprice}}</td>
            <td><button type="button" class="btn btn-primary" (click)="orderselected(order)">เลือกสินค้า</button></td>
          </tr>
        </tbody>
      </table>
</div>